ul#demo-block {
    margin: 0 15px 15px 15px;
}
ul#demo-block li {
    margin: 0 0 10px 0;
    padding: 10px;
    display: inline;
    float: left;
    clear: both;
    color: #aaa;
    background: url('../img/bg-black.png');
    font: 11px Helvetica, Arial, sans-serif;
}
ul#demo-block li a {
    color: #eee;
    font-weight: bold;
}

body {
    background-color: white;
}

iframe {
    border: none;
}

.thumb-mask {
    position: absolute;
    width: 150px;
    height: 108px;
}

.slide-mask {
    display: none;
}

#supersized iframe {
    width: 100%;
    height: 100%;
}

.thumb-mask {
    border: 1px solid black;
}
